build/
sdkconfig
sdkconfig.old
.DS_Store
__pycache__/

prototypes/math/.deps/
prototypes/math/build/


build-math/

prototypes/reader/.deps/
prototypes/reader/build/

prototypes/browser/build/
build-browser/
build-python/
generated-python/
release/
prototypes/python/.deps/
prototypes/python/build/
